#home {
  background: url(../images/landscape-hero.webp) no-repeat center;
  background-position-y: -100px;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  isolation: isolate;
}

#home::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 1));
}

#home .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-bottom: 6.25rem;
  color: var(--white);
}

#home .container h1 {
  font-size: 13.7rem;
  line-height: 1;
}
#home .container p {
  font-size: 1.5rem;
}

/* Info */
#info {
  background-color: var(--white);
  padding: 6.25rem 0;
}

#info .container {
  display: flex;
  gap: 100px;
}

#info h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

#info .btn {
  display: inline-block;
  padding: 15px 60px;
  margin-top: 20px;
  background-color: var(--magenta);
  color: var(--white);
  text-decoration: none;
  transition: 0.3s;
}

#info .btn:hover {
  background-color: rgb(100, 4, 34);
}

#info .detail > * {
  line-height: 2;
}

#info .detail span {
  color: var(--magenta);
}
#info .detail div:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--black);
}
#info .detail div:not(:first-child) {
  padding-top: 20px;
}

#info .detail .when p:last-child {
  font-style: italic;
  font-size: 14px;
}

#info .detail .where a {
  display: inline-block;
  color: var(--black);
  text-decoration: none;
  border-bottom: 2px solid var(--magenta);
  margin-top: 10px;
}
#info .detail .where a:hover {
  color: var(--magenta);
}

/* Our Story */
#story{
  padding: 6.25rem 0;
  background-color: var(--purple);
}

@media (max-width: 600px) {
  #home {
    background: url(../images/portrait-hero.webp);
    background-size: cover;
  }
  #home .container h1 {
    font-size: 7.5rem;
  }
  #home .container p {
    font-size: 0.875rem;
  }

  /* Info */
  #info .container {
    flex-direction: column-reverse;
  }
}
